html, body {height: 100%; margin: 0px;}

body { background: #453b44; }

textarea { resize: vertical; }

#logo {
    background: url('../img/homelogo.png') no-repeat;
    width: 500px;
    height: 200px;
    margin: auto;
}

.blue { color: #444d59; }
.input-lg { 
  background-color: rgba(0,0,0,0.4); 
  border: 2px solid #fff;
  color: #fff;
}
.input-lg:focus { 
  background-color: #fff; 
  border: 2px solid #000000;
  color: #000000;
}
.input-lg::-webkit-input-placeholder {
	color: #fff;
}
.input-lg:focus::-webkit-input-placeholder {
  color: #000000;
}
.input-lg::-moz-p {
	color: #fff;
}
.input-lg::-ms-input-placeholder {
	color: #fff;
}
#searchForm { margin-top: 4em; }

section { overflow: hidden; }
  #first { background: url('../img/welcome3.jpg') center -200px fixed no-repeat; background-size: cover; overflow: hidden; }
  #first a { color: #fff; font-family: "ff-tisa-web-pro", serif; font-size: 22px; text-shadow: 1px 1px 0px #000, -1px 1px 0px #000, 1px -1px 0px #000, -1px -1px 0px #000; }
  #firstl ul { margin: 0 auto; }
  #first ul li { display: inline; padding-right: 2em;}
  #first .checkbox-inline, .search-direction { color: #fff; font-family: "proxima-nova", sans-serif; font-size: 18px; text-shadow: 1px 1px 0px #000, -1px 1px 0px #000, 1px -1px 0px #000, -1px -1px 0px #000; }


  #second { background: url('../img/textspot6.jpg') 50% 0 repeat fixed; }
  #second { padding: -3px 0;}
  #second h1 {  margin-top: 50px;font-family: "proxima-nova", sans-serif; font-size: 32px; font-weight: bold; text-transform: uppercase; color: #d6b697;   text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;}
  #second h4 { margin-top: 0px; font-family: "ff-tisa-web-pro", serif; color: #E1CAB4; font-style: italic; font-size: 22px;}
  #second p { font-family: "ff-tisa-web-pro", serif; color: #fff; font-size: 16px;}
  #second .spacer { height: 150px;}
  #second a { font-family: "ff-tisa-web-pro", serif; color: #0e1a26; font-style: italic; text-decoration: underline; font-size: 18px;  }
  #second a:hover { color: #d6b697;}

  #third { background: #d6b697; }
  #third h1 {  margin-top: 150px;font-family: "proxima-nova", sans-serif; font-size: 32px; font-weight: bold; text-transform: uppercase; color: #0e1a26;   text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;}
  #third h4 { margin-top: 0px; font-family: "ff-tisa-web-pro", serif; color: #fff; font-style: italic; font-size: 22px;}
  #third p { font-family: "ff-tisa-web-pro", serif; color: #444d59; font-size: 16px;}


  #fourth { background: #1e1a1b 80% 0 no-repeat fixed ; background-position: -300px;}
  #fourth h3 {  margin-top: 50px;font-family: "proxima-nova", sans-serif; font-size: 14px; font-weight: bold; text-transform: uppercase; color: #d6b697;   text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px; border-bottom: 1px solid #fff;}
  #fourth .footer-bottom-text { font-family: "proxima-nova", sans-serif; color: #fff; font-size: 10px; position: relative; bottom: 0px; margin-top: 25px;}
  #fourth .footer-main-text { font-family: "proxima-nova", sans-serif; color: #fff; font-size: 18px; }
  #fourth a { color: #d6b697; text-decoration: none;}
  #fourth a:hover { color: #fff; text-decoration: underline;}

  .prologue { height: 75%; min-height: 500px; max-height: 1050px; padding: 0; margin: 0; width: 100%; position: relative; margin: 0 auto; border-top: 1px solid rgba(255,255,255,0.3); border-bottom: 1px solid rgba(0,0,0,0.4); box-shadow: 0 0 50px rgba(0,0,0,0.8); }
  .story { padding: 0; margin: 50px 0px 500px 0px; width: 100%; position: relative; margin: 0 auto; border-top: 1px solid rgba(255,255,255,0.3); border-bottom: 1px solid rgba(0,0,0,0.4); box-shadow: 0 0 50px rgba(0,0,0,0.8); }
  .continued { height: 600px; padding: 0; margin: 50px 0px 500px 0px; width: 100%; position: relative; margin: 0 auto; border-top: 1px solid rgba(255,255,255,0.3); border-bottom: 1px solid rgba(0,0,0,0.4); box-shadow: 0 0 50px rgba(0,0,0,0.8); }
  .epilogue { height: 200px; padding: 0; margin: 0; width: 100%; position: relative; margin: 0 auto; /*border-top: 1px solid rgba(255,255,255,0.3);*/ border-bottom: 1px solid rgba(0,0,0,0.4); box-shadow: 0 0 10px rgba(0,0,0,0.8); }


/*@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  #first {
    background: url('../images/welcome2@2x.jpg') no-repeat;
    background-size: cover;
  }
  #logo {
    background: url('../images/homelogo@2x.png') no-repeat center center fixed;
    background-size: 500px 200px;
  }

}*/

@media (max-width: 420px) {
  #logo {margin-left: -5px; width: 320px; height: 134px; background-size: cover;}
  #first { background-size: 600px 400px; background-position: top center;}
}

[ng-cloak], .ng-cloak {
	display: none !important;
}

.video {
	position: relative;
}

.video-play-button {
	position: absolute;
	top: 30%;
	width: 20%;
	left: 40%;
}