.abs-centered
{
    text-align:             center;
    position:               absolute;
    width:                  100%;
    top:                    50%;
}

li 
{
    position:               relative;
}

.close
{
    position:               absolute;
    z-index:                100;
    width:                  50px;
    height:                 50px;
    top:                    calc(50% - 25px);
    left:                   calc(50% - 175px);

    &:before, &:after
    {
        content:            '';
        position:           absolute;
        top:                calc(50% - 5px);
        display:            block;
        width:              100%;
        height:             10px;
        background:         darkslategrey
    }

    &:before 
    {
        transform:          rotate(45deg);
    }

    &:after 
    {
        transform:          rotate(-45deg);
    }
}