<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="romantic_era_lyrics">

<head>
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
	<title>Romantic Era Lyrics</title>
	<!-- <link type="text/css" rel="stylesheet" href="style.css" /> -->
	<meta name="description" content="Romantic-Era Lyrics Score Page" />

	<!-- Typekit -->
	<script src="//use.typekit.net/izf8zmo.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>

    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/mystyle.css" rel="stylesheet">
    <link href="css/score-list.css" rel="stylesheet">
    <link href="css/scrollbar.css" rel="stylesheet">
    <link href="css/footer.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- Angular JS -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-sanitize.js"></script>
	<script src="js/plugins/dirPagination.js"></script>
	
	<!-- JQuery -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

	<!-- Augmented Notes -->
  	<script src="./js/augnotes.js"></script>
  	<script src="./js/augnotesui.js"></script>

  	<!-- Romantic-Era Lyrics Application File -->
	<script src="appjs/real.js"></script>

</head>

<body ng-cloak ng-controller="collection_controller as col">
	<div ng-include="'./templates/header.html'">
	</div>

	<div class="container container-main">
		<div class="row">
			<div class="col-md-12">
				<h1>{{ colInfo.collection.title }}</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div ng-repeat="publisher in colInfo.publisher">
					<h2>Publisher: <a href="{{ '/publisher.html#?id=' + publisher.id }}">{{ publisher.name }}</a></h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<h2>Available Scores:</h2>
				<p class="center-block">Viewing scores {{ (currentPage - 1) * scoresPerPage + 1 }} - {{ min(currentPage * scoresPerPage, colInfo.scores.length) }} of <strong>{{ colInfo.scores.length }}</strong></p>
				<table class="table">
					<thead>
						<tr>
							<th></th>
							<th>Page</th>
							<th>Title</th>
						</tr>
					</thead>
					<tbody>
						<tr dir-paginate="score in colInfo.scores | itemsPerPage: scoresPerPage" current-page="currentPage">
							<td><a href="{{ '/score.html#?id=' + score.id }}"><img class="score-thumb" ng-src="{{ score.thumb }}"></a></td>
							<td>{{ score.index_start }}</td>
							<td><a href="{{ '/score.html#?id=' + score.id }}">{{ score.title }}</a></td>
						</tr>
					</tbody>
				</table>
				<div class="text-center">
					<dir-pagination-controls></dir-pagination-controls>
				</div>
			</div>
		</div>
	</div>

	<div ng-include="'./templates/footer.html'">
	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="js/bootstrap.min.js"></script>
    <script src="js/retina-1.1.0.min.js"></script>
    <script src="js/conf_bootstrap.js"></script>

</body>

</html>