<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="romantic_era_lyrics">

<head>
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
	<title>Romantic Era Lyrics</title>
	<!-- <link type="text/css" rel="stylesheet" href="style.css" /> -->
	<meta name="description" content="Romantic-Era Lyrics Score Page" />

	<!-- Typekit -->
	<script src="//use.typekit.net/izf8zmo.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>

    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/mystyle.css" rel="stylesheet">
    <link href="css/scrollbar.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- JQuery -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- Angular JS -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-sanitize.js"></script>
	<script src="js/plugins/dirPagination.js"></script>
	
	<!-- Augmented Notes -->
  	<script src="./js/augnotes.js"></script>
  	<script src="./js/augnotesui.js"></script>

  	<!-- Romantic-Era Lyrics Application File -->
	<script src="appjs/real.js"></script>

</head>

<body ng-cloak ng-controller="score_controller as score">
	<div ng-include="'./templates/header.html'">
	</div>

	<div class="container container-main">
			<div class="row">
				<div class="col-md-8">
					<h1>{{ scoreInfo.score.title }}</h1>
				</div>
			</div>
			<div class="row" ng-hide="scoreInfo.collection.length === 0">
				<div class="col-md-8 col-md-offset-1">
					<div class="score-subtitle" ng-repeat="collection in scoreInfo.collection">
						From <a href="{{ '/collection.html#?id=' + collection.id }}">{{ collection.title }}</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="row">
						<div class="col-md-12">
							<dl class="dl-horizontal">
								<dt class="dataLabel">Poet:</dt>
								<dd class="dataValue" ng-repeat="lyricist in scoreInfo.lyricist">
									<a href="{{ '/artist.html#?id=' + lyricist.id }}"> {{ (lyricist.f_name || "") + " " + lyricist.l_name }}</a>
								</dd>
								<dd ng-show="scoreInfo.lyricist.length === 0">
									None listed
								</dd>
								<dt class="dataLabel">Composer:</dt>
								<dd class="dataValue" ng-repeat="composer in scoreInfo.composer">
									<a href="{{ '/artist.html#?id=' + composer.id }}"> {{ (composer.f_name || "") + " " + composer.l_name }}</a>
								</dd>
								<dd class="dataValue" ng-show="scoreInfo.composer.length === 0">
									None listed
								</dd>
								<dt class="dataLabel" ng-hide="scoreInfo.publisher.length === 0">Publisher:</dt>
								<dd class="dataValue" ng-show="scoreInfo.publisher.length === 0">
									None listed
								</dd>
								<dd class="dataValue" ng-repeat-start="publisher in scoreInfo.publisher">
									<a href="{{ 'publisher.html#?id=' + publisher.id }}">
										{{ publisher.name }}
									</a>
								</dd>
								<dt class="dataLabel" ng-hide="publisher.city == null || publisher.city == ''">Location:</dt>
								<dd class="dataValue" ng-repeat-end>
									{{ publisher.city }}
								</dd>
								<dt class="dataLabel" ng-hide="scoreInfo.score.year == null || scoreInfo.score.year == 0">Year:</dt>
								<dd class="dataValue" ng-hide="scoreInfo.score.year == null || scoreInfo.score.year == 0">
									{{ scoreInfo.score.year }}
								</dd>
								<dt class="dataLabel">Page Count:</dt>
								<dd class="dataValue" >
									{{ scoreInfo.score.page_count }}
								</dd>
							</dl>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<h2>Musical Information</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<dl class="dl-horizontal">
								<dt class="dataLabel" ng-show="scoreInfo.score.form != null">Form:</dt>
								<dd class="dataValue">{{ scoreInfo.score.form }}</dd>
								<dt class="dataLabel" ng-show="scoreInfo.score.key_sig != null">Key Signature:</dt>
								<dd class="dataValue">{{ scoreInfo.score.key_sig }}</dd>
								<dt class="dataLabel" ng-show="scoreInfo.score.time_sig != null">Time Signature:</dt>
								<dd class="dataValue">{{ scoreInfo.score.time_sig }}</dd>
								<dt class="dataLabel" ng-show="scoreInfo.score.tempo != null">Tempo:</dt>
								<dd class="dataValue">{{ scoreInfo.score.tempo }}</dd>
								<dt class="dataLabel" ng-show="scoreInfo.score.instruments != null">Instrumentation:</dt>
								<dd class="dataValue">{{ scoreInfo.score.instruments }}</dd>
							</dl>
						</div>
					</div>
					<div class="row" ng-show="scoreInfo.augnotes.length !== 0">
						<div class="audtools col-md-12" ng-repeat="augnotesItem in scoreInfo.augnotes">
							<audio controls="controls" ng-src="{{ './' + augnotesItem.mp3_path }}">
								Your browser does not support the audio tag!
							</audio>
						</div>
					</div>
					<div class="row" ng-show="scoreInfo.augnotes.length !== 0">
						<div class="col-md-12">
							<h2>Performance Information</h2>
						</div>
					</div>
					<div class="row" ng-show="scoreInfo.augnotes.length !== 0">
						<div class="col-md-12">
							<dl class="dl-horizontal">
								<dt class="dataLabel" ng-show="scoreInfo.augnotes[0].performers != null">Performers:</dt>
								<dd class="dataValue" ng-repeat="perf in scoreInfo.augnotes[0].performers.split(';')">{{ perf }}</dd>
							</dl>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<a ng-click="updateDropdownIcon('thumb_images_controller_span')" id="thumb_images_controller" class="download-link" href data-toggle="collapse" data-target="#thumb_images" aria-controls="thumb_images" aria-expanded="true">
								<span class="glyphicon glyphicon-th-large"></span> View Page Thumbnails ({{ scoreInfo.thumbs.length }}) <span id="thumb_images_controller_span" class="pull-right glyphicon glyphicon-chevron-down"></span>
							</a>
							<div class="collapse in score-thumbnails" id="thumb_images">
								<a href="" ng-repeat="image in scoreInfo.thumbs" ng-class="{selected: $index === scoreImageTab}">
									<img ng-click="updateImageTab($index, true)" class="img-responsive" ng-src="{{ image }}" alt="{{ $index }}">
								</a>
							</div>
						</div>
					</div>
					<div class="divider-scoreinfo"></div>
					<div class="row">
						<div class="col-md-12">
							<a class="download-link" href="/api/score.php?jpeg_archive=1&id={{ scoreInfo.score.id }}">
								<span class="glyphicon glyphicon-book" aria-hidden="true"></span> Download jpeg images<span class="pull-right glyphicon glyphicon-download-alt" aria-hidden="true">
							</a>
							<a class="download-link" href="{{ './' + scoreInfo.augnotes[0].mp3_path }}" ng-show="scoreInfo.augnotes.length !== 0">
								<span class="glyphicon glyphicon-music" aria-hidden="true"></span> Download mp3 file<span class="pull-right glyphicon glyphicon-download-alt" aria-hidden="true">
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-8">
					<div id="score_images" class="score-div">
						<!-- <img class="img-responsive" ng-src="{{ scoreInfo.images[scoreImageTab] }}"> -->
						<div ng-repeat="image in scoreInfo.images" class="score-page" ng-class="{hidden: $parent.scoreImageTab !== $index}">
							<img id="score_page_{{ $index }}" ng-src="{{ image }}" class="score img-responsive">
						</div>
						<div class="center-block">
							<img ng-class="{'visibility-hidden': scoreImageTab === 0}" ng-click="updateImageTab(scoreImageTab - 1, true)" src="img/arrow-left-thick.png" id="leftPositionMap" alt="Left Arrow" >
							<img ng-click="zoom(0.5)" src="img/zoom-in-outline.png" id="zoomInButton" alt="Zoom In">
							<img ng-click="zoom(-0.5)" src="img/zoom-out-outline.png" id="zoomOutButton" alt="Zoom Out">
							<img ng-class="{'visibility-hidden': scoreImageTab == scoreInfo.images.length - 1}" ng-click="updateImageTab(scoreImageTab + 1, true)" src="img/arrow-right-thick.png" id="rightPositionMap" alt="Right Arrow">
						</div>
					</div>
				</div>
			</div>
	</div>

	<section class="epilogue sticky-footer" id="fourth">
		<article>
			<div id="sponsorship">
				<div class="container">
					<div class="row">
						<h3>Website made possible by</h3>
						<div class="col-md-3">
							<p class="footer-main-text text-center">
								Principal Investigator:
								<br />
								<a href="http://artsandsciences.sc.edu/engl/paula-feldman" target="new">Paula R. Feldman</a>
							</p>
						</div>
						<div class="col-md-3">
							<a href="http://sc.edu/" target="new"><img src="http://sc.edu/_global_resources/img/USC_Web_linear.svg"></a>
						</div>
						<div class="col-md-3">
							<a href="http://cdh.sc.edu/" target="new"><img src="http://tundra.csd.sc.edu/nethum/sites/all/themes/nethum/images/cdh.png"></a>
						</div>
						<div class="col-md-3">
							<a class="pull-right" href="http://www.augmentednotes.com/" target="new" ng-show="scoreInfo.augnotes.length !== 0"><img src="/img/augnotes_badge.png"></a>
						</div>
					</div>

					<div class="row text-center footer-bottom-text">
						<p>All content heren is protected under a <a href="#">Creative Commons</a> license held by the University of South Carolina &copy; 2014</p>
					</div>
				</div>
			</div>
		</article>
	</section>


    <!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="js/bootstrap.min.js"></script>
    <script src="js/retina-1.1.0.min.js"></script>
    <script src="js/plugins/e-smart-zoom-jquery.min.js"></script>

</body>

</html>