<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="romantic_era_lyrics">

<head>
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
	<title>Romantic Era Lyrics</title>
	<!-- <link type="text/css" rel="stylesheet" href="style.css" /> -->
	<meta name="description" content="Romantic-Era Lyrics Score Page" />

	<!-- Typekit -->
	<script src="//use.typekit.net/izf8zmo.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>

    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/mystyle.css" rel="stylesheet">
    <link href="css/search.css" rel="stylesheet">
    <link href="css/scrollbar.css" rel="stylesheet">
    <link href="css/footer.css" rel="stylesheet">
    <link href="css/force-scrollbar.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-route.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-sanitize.js"></script>
	<script src="js/plugins/dirPagination.js"></script>
	
	<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
	<script src="appjs/real.js"></script>
</head>

<body ng-controller="search_controller as search">
	<div ng-include="'./templates/header.html'">
	</div>

	<div class="container container-main">
		<div class="row">
			<div class="col-md-12">
				<h1>Search the Romantic-Era Lyrics Database</h1>
			</div>
		</div>
		<div class="row">
			<form id="searchform" novalidate ng-submit="submitSearch()">
				<div class="col-md-2 col-md-offset-2 col-xs-11 col-xs-offset-1">
					<a href ng-show="searchin !== ''" class="help-icon glyphicon glyphicon-question-sign pull-left hidden-xs" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="auto left" data-content="{{ helpDescriptions[searchin] }}"></a>
					<select id="input_searchtype" class="form-control input-lg" ng-model="searchin">
						<option value="">Search in…</option>
						<option value="score">Scores</option>
						<option value="work">Works</option>
						<option value="artist">Artists</option>
						<option value="publisher">Publishers</option>
						<option value="collection">Collections</option>
					</select>
				</div>
				<div class="col-md-5 form-group">
					<label class="sr-only" for="exampleInputText">Keywords</label>
					<input id="input_searchstring" type="text" class="form-control input-lg" id="exampleInputText" placeholder="Keywords" ng-model="searchstring">
				</div>
				<div class="col-md-1 form-group">
					<input class="hidden-xs btn btn-default btn-lg" type="submit" value="Submit">
					<input class="visible-xs btn btn-default btn-lg btn-block" type="submit" value="Submit">
				</div>
			</form>
		</div>
		<div class="row" ng-cloak>
			<div ng-show="searchin !== ''" class="col-md-offset-2 col-md-2">
				<div class="pull-right"><p>Search Criteria:</p></div>
			</div>
			<div ng-show="searchin == 'score'" class="col-md-8">
				<label class="checkbox-inline"><input type="checkbox" value="title" ng-model="searchtype.score.title">Song Title</label>
				<label class="checkbox-inline"><input type="checkbox" value="composer" ng-model="searchtype.score.composer">Composer</label>
				<label class="checkbox-inline"><input type="checkbox" value="lyricist" ng-model="searchtype.score.lyricist">Poet</label>
				<label class="checkbox-inline"><input type="checkbox" value="publisher" ng-model="searchtype.score.publisher">Publisher</label>
			</div>
			<div ng-show="searchin == 'work'" class="col-md-8">
				<label class="checkbox-inline"><input type="checkbox" ng-model="searchtype.work.title">Work Title</label>
				<label class="checkbox-inline"><input type="checkbox" ng-model="searchtype.work.lyricist">Poet</label>
				<label class="checkbox-inline"><input type="checkbox" ng-model="searchtype.work.composer_list">Associated Composers</label>
				<label class="checkbox-inline"><input type="checkbox" ng-model="searchtype.work.publisher_list">Associated Publishers</label>
			</div>
			<div ng-show="searchin == 'artist'" class="col-md-8">
				<label class="checkbox-inline"><input type="checkbox" ng-model="searchtype.artist.f_name">First Name</label>
				<label class="checkbox-inline"><input type="checkbox" ng-model="searchtype.artist.l_name">Last Name</label>
				<label class="checkbox-inline"><input type="checkbox" ng-model="searchtype.artist.biography">Biography</label>
			</div>
			<div ng-show="searchin == 'publisher'" class="col-md-8">
				<label class="checkbox-inline"><input type="checkbox" ng-model="searchtype.publisher.name">Name</label>
				<label class="checkbox-inline"><input type="checkbox" ng-model="searchtype.publisher.city">Location</label>
				<label class="checkbox-inline"><input type="checkbox" ng-model="searchtype.publisher.description">Description</label>
			</div>
			<div ng-show="searchin == 'collection'" class="col-md-8">
				<label class="checkbox-inline"><input type="checkbox" ng-model="searchtype.collection.title">Name</label>
				<label class="checkbox-inline"><input type="checkbox" ng-model="searchtype.collection.publisher">Publisher</label>
				<label class="checkbox-inline"><input type="checkbox" ng-model="searchtype.collection.score_titles">Score Titles</label>
			</div>
		</div>
		<div class="row" ng-cloak>
			<div ng-show="searchin == 'score' || searchin == 'artist' || searchin == 'work' || searchin=='publisher'" class="col-md-offset-2 col-md-2">
				<div class="pull-right"><p>Additional Options:</p></div>
			</div>
			<div ng-show="searchin == 'score'" class="col-md-8">
				<label class="checkbox-inline"><input type="checkbox" value="title" ng-model="caveat.score.has_augnotes">Performance Available</label>
			</div>
			<div ng-show="searchin == 'work'" class="col-md-8">
				<label class="checkbox-inline"><input type="checkbox" value="title" ng-model="caveat.work.multiple_scores">Multiple Scores Available</label>
			</div>
			<div ng-show="searchin == 'artist'" class="col-md-8">
				<label class="checkbox-inline"><input type="checkbox" ng-model="caveat.artist.is_composer">Is a Composer</label>
				<label class="checkbox-inline"><input type="checkbox" ng-model="caveat.artist.is_lyricist">Is a Poet</label>
				<label class="checkbox-inline"><input type="checkbox" ng-model="caveat.artist.has_biography">Biography Available</label>
			</div>
			<div ng-show="searchin == 'publisher'" class="col-md-8">
				<label class="checkbox-inline"><input type="checkbox" ng-model="caveat.publisher.has_description">Description Available</label>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12" ng-show="resultsLoading" ng-cloak>
				<img class="center-block" src="./img/ajax-loader.gif">
			</div>
			<div class="col-md-offset-2 col-md-10" ng-hide="searchedOnce">
				<p class="center-block">Type above and press enter to search the Romantic-Era Lyrics Database</p>
			</div>
			<div class="col-md-offset-2 col-md-10" ng-show="searchedOnce && results.length === 0" ng-cloak>
				<p class="center-block">There are no results matching your search criteria.</p>
			</div>
			<div class="col-md-offset-2 col-md-10" ng-show="searchedOnce && results.length > 0" ng-cloak>
				<p class="center-block">Viewing results {{ (currentPage - 1) * scoresPerPage + 1 }} - {{ min(currentPage * scoresPerPage, results.length) }} of <strong>{{ results.length }}</strong></p>
			</div>
		</div>

		<div class="row" dir-paginate="result in results | itemsPerPage: scoresPerPage" current-page="currentPage" ng-cloak>
			<div class="col-md-offset-2 col-md-2">
				<a href="{{ resourcePageLink(result.id, searchin, result) }}"><img class="img-responsive search-thumb" ng-src="{{ result.image }}"></a>
			</div>
			<div class="col-md-6">
				<h2><a href="{{ resourcePageLink(result.id, searchin, result) }}">{{ result.title }}</a></h2>
				<dl class="dl-horizontal">
					<dt ng-repeat-start="(key, value) in result.data" class="dataLabel" ng-show="value !== null && value != 0">{{ key }}: </dt>
					<dd ng-repeat-end ng-show="value !== null && value != 0" class="dataValue">{{ value }}</dd>
				</dl>
			</div>
		</div>

		<div class="row">
			<div class="text-center" ng-hide="resultsLoading">
				<dir-pagination-controls></dir-pagination-controls>
			</div>
		</div>
	</div>

	<div ng-include="'./templates/footer.html'">
	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/retina-1.1.0.min.js"></script>
    <script src="js/plugins.js"></script>
</body>

</html>