<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="romantic_era_lyrics">

<head>
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
	<title>Romantic Era Lyrics</title>
	<!-- <link type="text/css" rel="stylesheet" href="style.css" /> -->
	<meta name="description" content="Romantic-Era Lyrics Score Page" />

	<!-- Typekit -->
	<script src="//use.typekit.net/izf8zmo.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>

    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/mystyle.css" rel="stylesheet">
    <link href="css/score-list.css" rel="stylesheet">
    <link href="css/scrollbar.css" rel="stylesheet">
    <link href="css/footer.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- Angular JS -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-sanitize.js"></script>
	<script src="js/plugins/dirPagination.js"></script>
	
	<!-- JQuery -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

	<!-- Augmented Notes -->
  	<script src="./js/augnotes.js"></script>
  	<script src="./js/augnotesui.js"></script>

  	<!-- Romantic-Era Lyrics Application File -->
	<script src="appjs/real.js"></script>

</head>

<body ng-cloak ng-controller="work_controller as work">
	<div ng-include="'./templates/header.html'">
	</div>

	<div class="container container-main">
		<div class="row">
			<div class="col-md-8">
				<h1>{{ workInfo.work.title }}</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-7 col-md-offset-1">
				<h2>Poetry written by:</h2>
				<div ng-repeat="lyricist in workInfo.lyricist">
					<span class="dataValue"><a href="{{ '/artist.html#?id=' + lyricist.id }}"> {{ lyricist.f_name + " " + lyricist.l_name }}</a></span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-7 col-md-offset-1">
				<h2>Available Scores:</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1 score-list-container">
				<div class="score-list-item" ng-repeat="score in workInfo.score">
					<a href="{{ '/score.html#?id=' + score.id }}">
						<img ng-src="{{ score.thumb }}">
					</a>
				</div>
			</div>
		</div>
	</div>

	<div ng-include="'./templates/footer.html'">
	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="js/bootstrap.min.js"></script>
    <script src="js/retina-1.1.0.min.js"></script>
    <script src="js/conf_bootstrap.js"></script>

</body>

</html>