.center-content {
  margin-left: auto;
  margin-right: auto;
  width: 612px;
  border: 5px solid black;
  box-shadow: 3px 3px 4px #000;
}

.title  {
  text-align: center;
}

.content {
  padding: 10px 35px;
}

div.box {
  border: 4px solid rgba(49,118,123,0.25);
  background-color: rgba(49,118,123,0.25);
  background-clip: padding-box;
  position:absolute;
}

.footer {
  border-top: 2px solid black;
  font-size: 90%;
  text-align: center;
  padding: 5px 5px;
  height: 34px;
  line-height:30px;
}

.footer a.license {
  float:left;
}

.footer a.augnotes-badge {
  float:right;
  margin-top:-4px;
}
