.gallery
{
    max-width:                      100%;
    text-align:                     center;

    a
    {
        width:                      200px;
        margin:                     .5%;
        display:                    inline-block;
        vertical-align:             bottom;

        img
        {
            width:                  100%;
        } // img
        
    } // .a

} // .gallery