.collection
{
    .score 
    {
        input
        {
            margin:             0 0 5px 15%;
        }

        .linkedInput a 
        {
            margin:             0;
        }
    }
}

.collection .sortable
{
    li
    {
        display:                flex;
        align-items:            center;
        justify-content:        center;
    }
}

.collection .sortable, .collection .scores
{
    height:                     100%;
    display:                    inline-block;
    vertical-align:             top;
    position:                   relative;

    .ui-sortable-handle
    {
        margin:                 0 0 15 0;
        height:                 390px;
    }

    .collection-image
    {
        height:                 100%;
        width:                  auto;
    }

    .score-bracket
    {
        display:                flex;
        flex-direction:         column;
        justify-content:        center;
        position:               absolute;
        width:                  100%;

        input
        {
            width:              75%;
        }

        .ui-resizable-n, .ui-resizable-s
        {
            cursor:             ns-resize;
            height:             30px;
            width:              10%;

            position:           absolute;
            margin:             0;
        }

        .ui-resizable-n
        {
            top:                0;
            border-top:         5px solid black;
        }

        .ui-resizable-s
        {
            bottom:             0;
            border-bottom:      5px solid black;
        }

        .vertical-bar
        {
            width:              5px;
            height:             100%;
            background:         black;

            position:           absolute;
            margin:             0;
            top:                0;
            left:               10%;
        }
    }

} // .sortable, .score-bracket

.collection .scores
{
    width:                      60%;
    display:                    none;
}

.collection .sortable
{
    width:                      100%;  
}

@media( $breakpoint-medium )
{
    .collection .scores
    {
        display:                inline-block;
    }

    .collection .sortable
    {
        width:                  38%;
        max-width:              300px;

        img
        {
            max-height:         390px;
            width:              100%;
            height:             auto;
        }
    }
}

.plus, .minus
{
    position:                       absolute;
    left:                           0;
    padding:                        16px;

    &:after
    {
        content:                    '';
        background:                 black;

        height:                     16px;
        width:                      4px;

        position:                   absolute;
        top:                        8px;
        left:                       14px;
    }

    &:before 
    {
        content:                    '';
        background:                 black;
        
        height:                     4px;
        width:                      16px;

        position:                   absolute;
        top:                        14px;
        left:                       8px;
    }
}

.minus:after
{
    background:                     none;
}

.obstructed
{
    opacity:                        0;
    pointer-events:                 none;
}