#items
{
    margin:                     10px 5% 5% 5%;

    h6
    {
        font-size:              .8em;
        color:                  grey;
    }

    a
    {
        display:                inline-block;
        width:                  100%;
        background:             $white;
        padding:                10px;
        margin:                 5px 0;
        line-height:            1.5em;

        &:hover
        {
            background:         $off-off-white;
        }
    }
}

@media( min-width: 700px )
{
    #nav-dashboard button 
    {
        width:                  15%;

    } // #archive-nav button

    #items
    {
        a
        {
            width:              calc(50% - 5px);

        } // a

        & > div > a:nth-child(even) 
        {
            margin-right:       5px;

        } // & > div > a:nth-child(even) 

        & > div > a:nth-child(odd)
        {
            margin-left:        5px;

        } // & > div > a:nth-child(odd)
        
    } // #items

} // @media( min-width: 700px )