form#login, form#account
{
    text-align:                     center;
    width:                          90%;
    margin:                         20vh auto 0 auto;
    padding:                        5vh;
}

form#account
{
    margin:                         10vh auto 0 auto;
}

@media( min-width: 700px )
{
    form#login, form#account
    {
        width:                      60%;
    }

    div.checkbox
    {
        display:                    inline-block;
    }
}