
body > form
{
    max-width:              800px;
    width:                  80%;
    margin:                 5% auto;
}

input, textarea, button
{
    width:                  100%;
    min-height:             20px;
    margin:                 0.5em 0;
    padding:                0.5em;
}

fieldset
{
    margin-right:            10%;
    margin-left:            10%;
}

div.linkedInput
{
    input
    {
        width:              calc(100% - 35px);
        vertical-align:     top;
    }

    a
    {
        display:            inline-block;
        width:              30px;
        margin-top:         0.5em;

        img
        {
            max-width:      100%;
        }
    }
}

button 
{
    vertical-align:         middle;
    padding:                10px;
    color:                  #666;
    background:             #fbfbfb;
    text-transform:         uppercase;
    font-weight:            300;
    transition:             background .3s;
    border:                 none;

    &:active
    {
        transition-duration: 0s;
        box-shadow:         inset 0 1px 3px rgba(0,0,0,0.3), 0 1px 0 #FFF;
        text-shadow:        0 1px 0 rgba(255,255,255,0.4);
    }

    &:focus, &:hover
    {
        background:         floralwhite;
    }

    &.primary
    {
        color:              white;
        background:         #7db500;

        &:active 
        {
            color:          #76a312;
            background:     #486900;
        }

        &:focus, &:hover 
        {
            background:     #8fcf00;
        }
    }

    &.caution
    {
        color:              white;
        background:         #E54028;

        &:active 
        {
            color:          #ac2815;
            background:     #cd5240;
        }

        &:focus, &:hover 
        {
            background:     #e8543f;
        }
    }
}