h1, h2, h3, h4, h5, h6, body
{
    font-family:    sans-serif;
}

h1
{
    font-size:      2em;
    margin:         1.5em 0 .5em 0;
    text-transform: uppercase;
}

h2
{
    font-size:      1.5em;
    margin:         1.25em 0 .5em 0;
    text-transform: uppercase;
}

h3
{
    font-size:      1.25em;
    margin:         1em 0 .5em 0;
    text-transform: uppercase;
}