#nav-dashboard
{
    max-width:              100%;
    width:                  100%;
    background:             $white;
    text-align:             center;
    margin:                 0 0 10px 0;

    button
    {
        width:              100%;
        margin:             0;
        padding:            10px;

        background:         none;
        border:             none;

        &:hover 
        {
            background:     $off-off-white;
        }
    }

    .active
    {
        background:         $off-off-white;
    }
}

#nav-alphabet
{
    margin:                 20px;
    text-align:             center;

    a
    {
        padding:            0 10px;
    }
}