#nav-primary
{
    position:       relative;
    z-index:        15;
    width:          100%;
    box-shadow:     0 -10px 30px;
}

.navigation
{
    background:     $white;
    display:        table;
    padding:        10px;

    a
    {
        padding:    0 5px;
    }

    .nav-left, .nav-right
    {
        display:        table-cell;
        vertical-align: middle;
    }

    .nav-right
    {
        text-align:     right;
    }
}