/*====================================================================

    STYLESHEET

    Author: Matt Short
            http://mattshort.me

====================================================================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: initial;
  text-decoration: none; }

html {
  box-sizing: border-box;
  background: whitesmoke;
  outline: none; }

*, *:before, *:after {
  box-sizing: inherit;
  outline: inherit; }

#nav-primary {
  position: relative;
  z-index: 15;
  width: 100%;
  box-shadow: 0 -10px 30px; }

.navigation {
  background: white;
  display: table;
  padding: 10px; }
  .navigation a {
    padding: 0 5px; }
  .navigation .nav-left, .navigation .nav-right {
    display: table-cell;
    vertical-align: middle; }
  .navigation .nav-right {
    text-align: right; }

#nav-dashboard {
  max-width: 100%;
  width: 100%;
  background: white;
  text-align: center;
  margin: 0 0 10px 0; }
  #nav-dashboard button {
    width: 100%;
    margin: 0;
    padding: 10px;
    background: none;
    border: none; }
    #nav-dashboard button:hover {
      background: floralwhite; }
  #nav-dashboard .active {
    background: floralwhite; }

#nav-alphabet {
  margin: 20px;
  text-align: center; }
  #nav-alphabet a {
    padding: 0 10px; }

form#login, form#account {
  text-align: center;
  width: 90%;
  margin: 20vh auto 0 auto;
  padding: 5vh; }

form#account {
  margin: 10vh auto 0 auto; }

@media (min-width: 700px) {
  form#login, form#account {
    width: 60%; }

  div.checkbox {
    display: inline-block; } }
#items {
  margin: 10px 5% 5% 5%; }
  #items h6 {
    font-size: .8em;
    color: grey; }
  #items a {
    display: inline-block;
    width: 100%;
    background: white;
    padding: 10px;
    margin: 5px 0;
    line-height: 1.5em; }
    #items a:hover {
      background: floralwhite; }

@media (min-width: 700px) {
  #nav-dashboard button {
    width: 15%; }

  #items a {
    width: calc(50% - 5px); }
  #items > div > a:nth-child(even) {
    margin-right: 5px; }
  #items > div > a:nth-child(odd) {
    margin-left: 5px; } }
.gallery {
  max-width: 100%;
  text-align: center; }
  .gallery a {
    width: 200px;
    margin: .5%;
    display: inline-block;
    vertical-align: bottom; }
    .gallery a img {
      width: 100%; }

.collection .score input {
  margin: 0 0 5px 15%; }
.collection .score .linkedInput a {
  margin: 0; }

.collection .sortable li {
  display: flex;
  align-items: center;
  justify-content: center; }

.collection .sortable, .collection .scores {
  height: 100%;
  display: inline-block;
  vertical-align: top;
  position: relative; }
  .collection .sortable .ui-sortable-handle, .collection .scores .ui-sortable-handle {
    margin: 0 0 15 0;
    height: 390px; }
  .collection .sortable .collection-image, .collection .scores .collection-image {
    height: 100%;
    width: auto; }
  .collection .sortable .score-bracket, .collection .scores .score-bracket {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 100%; }
    .collection .sortable .score-bracket input, .collection .scores .score-bracket input {
      width: 75%; }
    .collection .sortable .score-bracket .ui-resizable-n, .collection .sortable .score-bracket .ui-resizable-s, .collection .scores .score-bracket .ui-resizable-n, .collection .scores .score-bracket .ui-resizable-s {
      cursor: ns-resize;
      height: 30px;
      width: 10%;
      position: absolute;
      margin: 0; }
    .collection .sortable .score-bracket .ui-resizable-n, .collection .scores .score-bracket .ui-resizable-n {
      top: 0;
      border-top: 5px solid black; }
    .collection .sortable .score-bracket .ui-resizable-s, .collection .scores .score-bracket .ui-resizable-s {
      bottom: 0;
      border-bottom: 5px solid black; }
    .collection .sortable .score-bracket .vertical-bar, .collection .scores .score-bracket .vertical-bar {
      width: 5px;
      height: 100%;
      background: black;
      position: absolute;
      margin: 0;
      top: 0;
      left: 10%; }

.collection .scores {
  width: 60%;
  display: none; }

.collection .sortable {
  width: 100%; }

@media (min-width: 700px) {
  .collection .scores {
    display: inline-block; }

  .collection .sortable {
    width: 38%;
    max-width: 300px; }
    .collection .sortable img {
      max-height: 390px;
      width: 100%;
      height: auto; } }
.plus, .minus {
  position: absolute;
  left: 0;
  padding: 16px; }
  .plus:after, .minus:after {
    content: '';
    background: black;
    height: 16px;
    width: 4px;
    position: absolute;
    top: 8px;
    left: 14px; }
  .plus:before, .minus:before {
    content: '';
    background: black;
    height: 4px;
    width: 16px;
    position: absolute;
    top: 14px;
    left: 8px; }

.minus:after {
  background: none; }

.obstructed {
  opacity: 0;
  pointer-events: none; }

body > form {
  max-width: 800px;
  width: 80%;
  margin: 5% auto; }

input, textarea, button {
  width: 100%;
  min-height: 20px;
  margin: 0.5em 0;
  padding: 0.5em; }

fieldset {
  margin-right: 10%;
  margin-left: 10%; }

div.linkedInput input {
  width: calc(100% - 35px);
  vertical-align: top; }
div.linkedInput a {
  display: inline-block;
  width: 30px;
  margin-top: 0.5em; }
  div.linkedInput a img {
    max-width: 100%; }

button {
  vertical-align: middle;
  padding: 10px;
  color: #666;
  background: #fbfbfb;
  text-transform: uppercase;
  font-weight: 300;
  transition: background .3s;
  border: none; }
  button:active {
    transition-duration: 0s;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 0 #FFF;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4); }
  button:focus, button:hover {
    background: floralwhite; }
  button.primary {
    color: white;
    background: #7db500; }
    button.primary:active {
      color: #76a312;
      background: #486900; }
    button.primary:focus, button.primary:hover {
      background: #8fcf00; }
  button.caution {
    color: white;
    background: #E54028; }
    button.caution:active {
      color: #ac2815;
      background: #cd5240; }
    button.caution:focus, button.caution:hover {
      background: #e8543f; }

h1, h2, h3, h4, h5, h6, body {
  font-family: sans-serif; }

h1 {
  font-size: 2em;
  margin: 1.5em 0 .5em 0;
  text-transform: uppercase; }

h2 {
  font-size: 1.5em;
  margin: 1.25em 0 .5em 0;
  text-transform: uppercase; }

h3 {
  font-size: 1.25em;
  margin: 1em 0 .5em 0;
  text-transform: uppercase; }

/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8; }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }

.mfp-preloader a {
  color: #CCC; }

.mfp-preloader a:hover {
  color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }

.mfp-close:hover,
.mfp-close:focus {
  opacity: 1; }

.mfp-close:active {
  top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }

.mfp-arrow:active {
  margin-top: -54px; }

.mfp-arrow:hover,
.mfp-arrow:focus {
  opacity: 1; }

.mfp-arrow:before,
.mfp-arrow:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent; }

.mfp-arrow:after {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px; }

.mfp-arrow:before {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }

.mfp-arrow-left:after {
  border-right: 17px solid #FFF;
  margin-left: 31px; }

.mfp-arrow-left:before {
  margin-left: 25px;
  border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }

.mfp-arrow-right:after {
  border-left: 17px solid #FFF;
  margin-left: 39px; }

.mfp-arrow-right:before {
  border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px; }

.mfp-iframe-holder .mfp-close {
  top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }

.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444; }

.mfp-figure small {
  color: #BDBDBD;
  display: block;
  font-size: 12px;
  line-height: 14px; }

.mfp-figure figure {
  margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }

  .mfp-img-mobile img.mfp-img {
    padding: 0; }

  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }

  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }

  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box; }

  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0; }

  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }

  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }
@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }

  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }

  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }
.abs-centered {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 50%; }

li {
  position: relative; }

.close {
  position: absolute;
  z-index: 100;
  width: 50px;
  height: 50px;
  top: calc(50% - 25px);
  left: calc(50% - 175px); }
  .close:before, .close:after {
    content: '';
    position: absolute;
    top: calc(50% - 5px);
    display: block;
    width: 100%;
    height: 10px;
    background: darkslategrey; }
  .close:before {
    transform: rotate(45deg); }
  .close:after {
    transform: rotate(-45deg); }

/*# sourceMappingURL=style.css.map */
