<section class="epilogue sticky-footer" id="fourth">
	<article>
		<div id="sponsorship">
			<div class="container">
				<div class="row">
					<h3>Website made possible by</h3>
					<div class="col-md-4">
						<p class="footer-main-text text-center">
							Principal Investigator:
							<br />
							<a href="http://artsandsciences.sc.edu/engl/paula-feldman" target="new">Paula R. Feldman</a>
						</p>
					</div>
					<div class="col-md-4">
						<a href="http://sc.edu/" target="new"><img src="http://sc.edu/_global_resources/img/USC_Web_linear.svg"></a>
					</div>
					<div class="col-md-4">
						<a href="http://cdh.sc.edu/" target="new"><img src="http://tundra.csd.sc.edu/nethum/sites/all/themes/nethum/images/cdh.png"></a>
					</div>
				</div>

				<div class="row text-center footer-bottom-text">
					<p>All content heren is protected under a <a href="#">Creative Commons</a> license held by the University of South Carolina &copy; 2014</p>
				</div>
			</div>
		</div>
	</article>
</section>